<section class="panel panel-default pos-rlt clearfix" id="question_section">
    <header class="panel-heading">
        请根据近三个月的体验和感觉，回答以下问题！
        <span class="text-muted m-l-sm pull-right"> <i class="fa fa-bell-o"></i> 注：本测试不适用于孕妇 </span>
    </header>

    {{#each this}}
        <div class="panel-body clearfix">
            <header class="panel-heading">
                {{#if category_id}}
                    <span class="badge badge-sm up bg-danger count" style="display: inline-block;">{{indexAdd @index}}</span>
                    {{category_name}}
                    <span class="text-muted pull-right">
                        <i class="fa  fa-comment-o"></i>  {{description}}
                    </span>
                {{else}}
                    <span class="badge badge-sm up bg-danger count" style="display: inline-block;">1</span>
                    问题列表
                {{/if}}
            </header>
            <table class="table table-striped m-b-none">
                <tbody>
                {{#each problems}}
                    <tr>
                        <td name="question_td" data-question="{{id}}" data-constitution="{{constitution}}" data-requiredtype="{{required_type}}" data-items='{{item_val}}'>
                            <div class="panel-body" name="question-name">
                                {{question}}
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            <div class="line line-dashed b-b line-lg pull-in"></div>
        </div>
    {{/each}}

    <div class="panel-footer text-right">
        <a href="#" class="btn btn-s-md btn-primary" id="submit_btn" style="display: none" data-url="constitution/vote/submit">幸苦了！完成测试！</a>
    </div>
</section>